.main {
  background-image: url("../../assets/background.png");

  flex-grow: 1;

  padding-bottom: 20px;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.stack {
  // position: relative;

  // width: 100%;
  // height: 100%;
}
