.main {
  background-image: url("../../assets/background.png");

  flex-grow: 1;

  padding-bottom: 20px;
}

.game__field {
  margin-top: 20px;

  margin-left: 60px;
}

.deck {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 160px;
}

.tableau {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.stack {
  position: relative;
  width: 100px;
  height: 140px;
  display: flex;
  flex-direction: column;

  background-image: url("../../assets/cards/back.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: transparent;
}
