.card {
  // position: absolute;

  // top: 0;
  // left: 0;

  background-color: var(--color-white);

  max-width: 100px;
  border-radius: 6px;

  box-shadow: 0 0 4px #000;
  &__image {
    width: 100%;
    height: 100%;

    padding: 2px;
  }
}
